<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex flex-row">
                <div id="sidebar">
                    <ul class="list-inline bg-light-4 shadow-border mr-4">
                        <li>
                            <a class="menu-item" routerLink="/account"><i class="material-icons mr-3">receipt</i>Orders</a>
                        </li>
                        <li>
                            <a class="menu-item" routerLink="/account/profile"><i class="material-icons mr-3">account_box</i>Profile</a>
                        </li>
                        <li>
                            <a class="menu-item" routerLink="/account/address"><i class="material-icons mr-3">library_books</i>Addresses</a>
                        </li>
                        <li>
                            <a class="menu-item" routerLink="/account/open-shop"><i class="material-icons mr-3">store</i>Open your shop</a>
                        </li>
                        <li>
                            <a class="menu-item" (click)="logOut()"><i class="material-icons mr-3">lock_open</i>Log Out</a>
                        </li>
                    </ul>
                </div>
                <div class="media-body">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>