<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-5 bg-light-4 shadow-border p-3">
            <form novalidate="" class="ng-untouched ng-pristine ng-valid">
                <h3 class="pb-2 mb-3">Please Log In</h3>
                <div class="form-group">
                    <label for="txt-email">Email</label>
                    <input aria-describedby="lbl-email" class="form-control" id="txt-email" placeholder="Enter email" type="email">
                    <small class="form-text text-black-secondary" id="lbl-email">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="txt-password">Password</label>
                    <input class="form-control" id="txt-password" placeholder="Password" type="password">
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginAlert">Log In</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="loginAlert" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Woohoo, you're reading this text in a modal!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bg-dark-blue text-white" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>