body {
    background-color: #f3f3f3;
}

header {
    background-color: #0277BD;
    
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
}

footer {
    background-color: #202020;
}

#logo {
    width: 200px;
}

#pnl-cart {    
    background-color: #01579B;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.12);
}
#pnl-cart .material-icons {    
    position: absolute;    
    margin-top: -9px;
    top: 50%;
}
#pnl-cart .count {    
    margin-left: 25px;
    margin-right: 5px;
    border-radius: 2px;
}

.thumb-images {
    width: 100px;
    margin-right: 1rem;
}
.thumb-images li {
    margin-bottom: 1rem;
}

.sb-title {    
    padding: 10px 12px;
}

.over-margin {
    margin: -1px -1px 0 -1px !important;
}

.header {
    height: 100px;
}

.title-line-height {
    line-height: 1.2rem;
}

.cat-menu {
    padding: 12px 20px;
    color: #fff;
    z-index: 1;
}
.cat-menu.active {
    background-color: #0D47A1;
}
a.cat-menu:active, a.cat-menu:focus, a.cat-menu:hover {
  color: #fff;
}

.cat-item {
    border-bottom: solid 1px #e2e2e2;
    padding: 10px 12px;
    color: #333;
}
li:last-child .cat-item {
    border-bottom-style: none !important;
}

.title-bar {
    padding-bottom: .5rem;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 1.5rem;
}

.menu-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 44px;
    background-color: #01579B;
}

.bottom-line {
    border-bottom: solid 1px #e2e2e2;
}

#txt-search {
    outline: 0;
    padding: 12px 46px 12px 12px;
    background-color: #fff;
    border-radius: 2px;
}
#btn-search {
    cursor: pointer;
    border-style: none;
    margin: 1px;
    color: #fff;
    position: absolute;
    right: -1;
    top: 0;
    bottom: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    display: inline-block;
}

#pnl-highlight {
    height: 370px;
    overflow: hidden;
}

.order-list {
    margin-bottom: 0;
}
.order-list td {
    border-top-style: none;
}
.order-list thead th {
    border-bottom: 1px solid #e1e1e1;
}
.order-list tfoot td, .table tfoot th {
    color: rgba(0, 0, 0, 0.87);
}
.order-list tfoot tr {
    border-top: 1px solid #e1e1e1;
}

.attached-width {
    margin-left: -1.5rem !important;
    margin-right: -1.5rem !important;
}

.check {
    width: 30px;
    text-align: center;
    margin-right: 1rem;
    opacity: 0;
}
.check.selected {
    opacity: 1;
}