body {
    background-color: #f3f3f3;
}
body.active {
    overflow: auto;
}

button {
    outline: 0 !important;
}

a { cursor: pointer; }

header {
    background-color: #0277BD;
    
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
}

footer {
    background-color: #202020;
}

.flex {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.bg-red {
    background-color: #F44336;
}
.bg-green {
    background-color: #4CAF50;
}
.bg-blue {
    background-color: #03A9F4;
}
.bg-orange {
    background-color: #FF5722;
}
.bg-dark-grey {
    background-color: #616161;
}
.bg-dark-blue {    
    background-color: #0288D1;
}
.bg-dark-red {
    background-color: #D32F2F;
}
.bg-dark-orange {
    background-color: #F57C00;
}

.color-black {
    color: #333 !important;
}
.color-red {
    color: #F44336 !important;
}
.color-green {
    color: #4CAF50 !important;
}
.color-orange {
    color: #FF5722 !important;
}
.color-blue {
    color: #03A9F4 !important;
}

.color-alpha-grey {
    color: rgba(0, 0, 0, 0.54);
}

.shadow-border {
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    z-index: 1;
}

/* @font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/MaterialIcons-Regular.eot);
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(/fonts/MaterialIcons-Regular.woff2) format('woff2'),
        url(/fonts/MaterialIcons-Regular.woff) format('woff'),
        url(/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
} */

.pad-10 {
    padding: 10px !important;
}
.pad-15 {
    padding: 15px !important;
}

.p-relative {
    position: relative !important;
}
.p-absolute {
    position: absolute !important;
}

.form-control.border {
    border: 1px solid rgba(0, 0, 0, 0.12) !important;
}

#logo {
    width: 200px;
}

#pnl-cart {    
    background-color: #01579B;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.12);
}
#pnl-cart .material-icons {    
    font-size: 20px;
    position: absolute;
    top: 50%;
    margin-top: -5px;
}
#pnl-cart .count {    
    margin-left: 25px;
    margin-right: 5px;
    border-radius: 2px;
}

.btn .material-icons {
    font-size: 1.2rem !important;
    line-height: .8rem !important;
}
.btn .material-icons.ml {
    margin-left: .5rem !important;
}
.btn .material-icons.mr {
    margin-right: .5rem !important;
}

.btn-icon-text {    
    position: relative;
    padding-left: 45px !important;
}
.btn-icon-text .material-icons {    
    font-size: 20px;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    left: 15px;
}

.thumb-images {
    width: 100px;
    margin-right: 1rem;
}
.thumb-images li {
    margin-bottom: 1rem;
}

.sb-title {    
    padding: 10px 12px;
}

.over-margin {
    margin: -1px -1px 0 -1px !important;
}

.header {
    height: 100px;
}

.box-border {
    border: solid 1px #e2e2e2;
}
.tp-line {
    border-top: 1px solid rgba(0, 0, 0, 0.12);  
}
.bt-line {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);  
}

.title-line-height {
    line-height: 1.2rem;
}

.cat-menu {
    padding: 12px 20px;
    color: #fff;
    z-index: 1;
}
.cat-menu.active {
    background-color: #0D47A1;
}
a.cat-menu:active, a.cat-menu:focus, a.cat-menu:hover {
  color: #fff;
}

.cat-item {
    border-bottom: solid 1px #e2e2e2;
    padding: 10px 12px;
    color: #333;
}
li:last-child .cat-item {
    border-bottom-style: none !important;
}

.title-bar {
    padding-bottom: .5rem;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 1.5rem;
}

.menu-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 44px;
    background-color: #01579B;
}

.bottom-line {
    border-bottom: solid 1px #e2e2e2;
}

#txt-search {
    outline: 0;
    padding: 12px 46px 12px 12px;
    background-color: #fff;
    border-radius: 2px;
}
#btn-search {
    cursor: pointer;
    border-style: none;
    margin: 1px;
    color: #fff;
    position: absolute;
    right: -1;
    top: 0;
    bottom: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    display: inline-block;
}

#pnl-highlight {
    height: 370px;
    overflow: hidden;
}

.order-list {
    margin-bottom: 0;
}
.order-list td {
    border-top-style: none;
}
.order-list thead th {
    border-bottom: 1px solid #e1e1e1;
}
.order-list tfoot td, .table tfoot th {
    color: rgba(0, 0, 0, 0.87);
}
.order-list tfoot tr {
    border-top: 1px solid #e1e1e1;
}

.attached-width {
    margin-left: -1.5rem !important;
    margin-right: -1.5rem !important;
}

.check {
    width: 30px;
    text-align: center;
    margin-right: 1rem;
    opacity: 0;
}
.check.selected {
    opacity: 1;
}

.table > tbody:first-child > tr:first-child td, .table > tbody:first-child > tr:first-child th, .table > tfoot:first-child > tr:first-child td, .table > tfoot:first-child > tr:first-child th, .table > thead:first-child > tr:first-child td, .table > thead:first-child > tr:first-child th {    
    font-weight: bold;
    color: #333;
    height: auto;
}