<div class="container-fluid bg-light-4 p-4 shadow-border">
    <div class="row">
        <div class="col-md-12">
            <div class="title-bar">
                <h3>Open your shop</h3>
            </div>
        </div>
    </div>
    <form ngNoForm>
        <div class="row">
            <div class="col-md-12">
                <div class="container-fluid mt-4">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="txt-fname">Name</label>
                                <input class="form-control" id="txt-fname" type="text" [(ngModel)]="data.name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="txt-fname">Url</label>
                                <input class="form-control" id="txt-fname" type="text" [(ngModel)]="data.url">
                            </div>
                        </div>
                        <div class="col-md-6 d-flex flex-row">
                            <button type="button" class="btn btn-secondary align-self-center">Check availability</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Description</label>
                                <auto-textarea [class]="'form-control'" [(ngModel)]="data.description"></auto-textarea>
                            </div>
                        </div>
                    </div>
                    <fieldset>
                        <legend>Billing address</legend>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Address</label>
                                    <auto-textarea [class]="'form-control'" [(ngModel)]="data.address"></auto-textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Postal Code</label>
                                    <input class="form-control" type="text" [(ngModel)]="data.postal_code">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>City</label>
                                    <input class="form-control" type="text" [(ngModel)]="data.city">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>State / Province</label>
                                    <select class="form-control" [(ngModel)]="data.province">
                                        <option *ngFor="let p of provinces" [ngValue]="p">{{p.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Telephone</label>
                                    <input class="form-control" type="text" [(ngModel)]="data.telephone">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="mt-4 text-center">
            <button type="button" (click)="create()" class="btn btn-primary">Finish</button>
        </div>
    </form>
</div>