<div class="container">
    <div class="row">
        <div class="col-md-5">
            <img src="images/i1.jpg">
        </div>
        <div class="col-md-7">
            <h2>Dolore ullam facere</h2>
            <div>Blandit pulvinar, recusandae lectus ipsum. Minima scelerisque venenatis. A. Pariatur! Anim eros nobis litora, ligula occaecat, aliquip wisi quod ligula ac vel. Tempora magnis? Enim dui, taciti consectetuer malesuada velit orci occaecati suscipit eiusmod distinctio primis</div>
            <div>$800</div>
        </div>
    </div>
</div>