<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="container bg-light-4 p-4 shadow-border">
                <div class="d-flex flex-row">
                    <div class="col text-center p-4">
                        <div class="circle">1</div>Shopping Cart
                    </div>
                    <div class="col text-center p-4">
                        <div class="circle">2</div>Shipping Info
                    </div>
                    <div class="col text-center p-4">
                        <div class="circle">3</div>Payment Method
                    </div>
                    <div class="col text-center p-4">
                        <div class="circle">4</div>Confirmation
                    </div>
                </div>
                <div class="mt-4">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>